body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.phone {
  width: 320px;
  height: 600px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

/* SCREENS */
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.screen.active {
  display: block;
}

/* HOME BG */
.bg {
  width: 100%;
  height: 100%;
  background: url('assets/rio.jpg') center/cover;
}

/* CENTER TEXT */
.center-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 22px;
}

/* GLASS */
.glass {
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  padding: 10px;
}

/* DOCK */
.dock {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

/* TRAVEL */
.plane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #222;
  color: white;
}

.window {
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ECO */
.full-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CAMERA */
#cam, #photo {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
}
